.profile {

    flex-direction: column;
}


.profile .back img {
    width: 600px;
    height: 300px;
}

.profile .avatar img {
    width: 80px;
    height: 80px;
}

.avatarFullName {
  display: flex;
  column-gap: 10px;
  font-size: xx-large;
  padding: 5px;
  border-bottom: white 10px solid;
}
.description{
  font-size: large;
}
.NameDescription{
  display: flex;
  flex-direction: column;
}
.PostsInput{

}
.avatarBack{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: burlywood;
  margin: -5px;
}

