.form{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
}
.form label{
  display: grid;
  position: relative;
}
.form .error-message{
  color: firebrick;
  position: absolute;
  font-size: 0.8em;
  bottom: -1em;
}