.friendList {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 20%;
  background-color: antiquewhite;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
  padding: 5px;
}

.friendList__header {
  margin: 5px;
  font-size: x-large;
}

.friendList img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.friendList__array {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}