.header {
  display: flex;
  background-color: darkorchid;
  width: 100%;
  justify-content: flex-start;
  padding: 5px;
}

.header img {
  width: 100px;
}
.header__networkName{
  color: white;
  font-weight: bold;
  font-size: 88px;
  display: flex;
  margin-left: 88px;
  font-family: Times, serif;
}