.profile__myPosts--post {
  background-color: white;
  gap: 2px;
  padding: 4px;
  margin-top: 10px;


}

.profile__myPosts--post img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  border: darkorchid 1px solid;

}

.profile__post--up {
  display: flex;
  margin: 2px;
}

.profile__post--text {
  display: flex;
  flex-direction: column;
  margin: 3px;
  gap: 30px;
}