.users {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 850px;
  overflow-y: auto;
  margin-left: 20px;
}

.user__container {
  display: flex;
  column-gap: 20px;
}

.user__info {
  display: flex;
  column-gap: 40px;
}

.user__bio{
  width: 200px;
}

.user__coutryTown{
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.user__imgButton {
  display: flex;
  flex-direction: column;
}

.user__userName{
  font-weight: bold;
  font-size: x-large;
}

.user__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user__button {
  width: 100px;
  height: 30px;
  border-radius: 0;
  transition: background-color 0.15s ease-out;
  font-weight: bold;
  border: none;
}

.user__button--white{
  background-color: white;
}

.user__button--burlywood{
  background-color: burlywood;
}

.user__button--white:hover{
  background-color: burlywood;
}

.user__button--burlywood:hover{
  background-color: white;
}

.active-page {
  font-weight: bold;
}
.loader img{
  width: 300px;
}
