.center {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 65%;
  justify-content: center;
  height: 100vh;
}


.lowContent {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;
  justify-content: start;
}

.changeContent {
  height: 100%;
  width: calc(100% - 110px);
  background-color: antiquewhite;

  display: flex;
}


