.nav {
    flex-direction: column;
    width: 275px;
    height: 100%;
    display: inline-flex;
    background-color: antiquewhite;
    align-items: start;

}

.nav ul {
    flex-direction: column;
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    width: 100%;
}

.nav a {
    color: darkorchid;
    text-decoration: none;
    width: 100%;
}

.nav .active{
    background-color: darkorchid ;
    color: antiquewhite;
}